*{
    padding: 0px;
    margin: 0px;
}

#container{
    min-height: 1000px;
    min-width: 1000px;
    padding-top: 10%;
    background-color: aqua;
}

#register{
    width: 300px;
    margin-right: 40%;
    margin-left: 40%;
}

