*{
    margin: 0px;
    padding: 0px;

}

#container{
    margin: 100px;
    width: 800px;
    height: 900px;
    background-color: aqua;
}

.heading{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: orange;
}

.color1{
    width: 100px;
    height: 100px;
    background-color: red;
}

.color2{
    width: 100px;
    height: 100px;
    background-color: black;
}