<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>new</title>
</head>
<body>
  <div class="container">
    <h1>Add a Painting</h1>
    <p class="text-right"><a href="/paintings">Dashboard</a></p>
    <p class="text-right"><a href="/">Logout</a></p>
    {% with messages = get_flashed_messages() %}    
    {% if messages %}                        
        {% for message in messages %}     
            <p>{{message}}</p>          
        {% endfor %}
    {% endif %}
{% endwith %}


    <form action="/painting/create" method="post">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="title" name="title"> 
      </div>
      <div class="form-group">
        <label>description</label>
        <input type="text" class="form-control" placeholder="description" name="description"> 
      </div>
      <div class="form-group">
          <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="price" name="price"> 
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </body>
</html>