<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
        <form action='/count' method='post'>
            <input type='submit' value='Click Me' name="count">
            {{session['count']}}
        </form>
        
    <form action="/destroy_session" method="post">
        <input type='submit' value='Click Me' name="">
    </form>

</body>
</html>