<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add a new Recipe</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}    
    {% if messages %}                        
        {% for message in messages %}     
            <p>{{message}}</p>          
        {% endfor %}
    {% endif %}
{% endwith %}

    <form action="/recipe/create" method="post" class="col-6 mx-auto">
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <h2 class="text-center">Add New Recipe</h2>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name"  class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea name="instructions" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <h3>Under 30 Minutes?</h3>
        <div class="form-check form-check-inline" > 
            <input class="form-check-input" type="radio" name="under_30_minutes" id="inlineRadio1" checked value="yes">
            <label class="form-check-label" for="under_30_minutes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="under_30_minutes" id="inlineRadio2" value="no">
            <label class="form-check-label" for="under_30_minutes">No</label>
        </div>
        <div>
            <input for="date_made_on" type="date" name="date_made_on">
        </div>
        <div>
            <input type="submit" value="Create Recipe" class="btn btn-success">
        </div>
    </form>
</body>
</html>