<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Recipe</title>
</head>
<body>
    <h2 class="text-center">Recipe {{recipe.id}}</h2>
    <h3>Name: {{recipe.name}}</h3>
    <p>description: {{recipe.description}}</p>
    <p>instructions: {{recipe.instructions}}</p>
    <p>under 30 minutes: {{recipe.under_30_minutes}}</p>
    <p>date made: {{recipe.date_made_on}}</p>




    <a href="/dashboard">Home</a>
    <a href="/logout">logout</a>
</body>
</html>